/* Enter your custom styles here */

#__container0-uiarea {
    overflow-y: auto;
}

.sapUiCalItem.sapUiCalItemType01 {
    background-color: #D8E2DC;
}

.sapUiCalItem.sapUiCalItemType02 {
    background-color: #F8EDEB;
}

.sapUiCalItem.sapUiCalItemType03 {
    background-color: #FEC5BB;
}

.sapUiCalItem.sapUiCalItemType04 {
    background-color: #FFD7BA;
}

.sapUiCalItem span.sapUiCalItemText {
    box-shadow: none;
}

#__layout0 {
    position: fixed;
    margin-left: 12px;
}

#__button0 {
    margin-top: 6px;
}